@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&display=swap');


.formCadastro{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Cadastro {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  

  .cadastro__Container2{
    width: 35%;
    height: auto;
    z-index: 5;
  }
  
  .cadastro__Container3 {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin-top: 90px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
   
  }

  
  .cadastro__input {
    width: 70%;
    height: 40px;
    border: 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    outline: none;
   
    padding-left: 5px; 
    margin-top: 20px;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 16px;
  }
  
  .linhaInput{
    width: 100%;
    height: auto;
    margin-left: 23%;
  }

  .iconInput{
    margin-right: 5px;
  }

  .cadastro__botao {
    width: 243px;
    height: 57px;
    background-color: #1B57A6;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    border: none;
    font-size: 100%;
    font-family: 'Bebas Neue', cursive;
    font-size: 21px;
    letter-spacing: 1px;
  }


  
  .cadastro__Container3 h1 {
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Bebas Neue';
  }
  
  .cadastro__Container3 a {
    padding-right: 480px;
    color: #fff;
    padding-top: 25px;
    }
  
    .cadastro__Container3 a1 {
      
      color: #fff;
      
    }
  
    .cadastro__conjunto {
      width: 100%;
      height: 50px;
      padding-left: 90px;
      color: #fff;
    }
  
    .cadastro__conjunto1 {
      width: 100%;
      height: 50px;
      padding-right: 100px;
      padding-block-end: 40px;
      color: #fff;
      text-align: right;
    }


  


    .cadastro__Container2 img {
      float: right;
      width: 100%;
      height: 100%;
    }

.separador{
  
  height: 20px;
}


.cadastro_Container4{
  width: 35%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center; 
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  margin-bottom: 80px;

}

.cadastro_p{
  color: #262626;
  color: rgba(var(--i1d,38,38,38),1);
  font-size: 16px;
  margin: 15px;
  text-decoration: none;
  font-family: 'Gemunu Libre', sans-serif;
  text-align: center;
}

.cadastro_p > a{
  text-decoration: none;
  margin-left: 5px;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 16px;
}